/* Define hero container, contents and image classes
Define also some classes for buttons */

/* Main container */
.mdx-container{
    transform: translate(0, -4.8rem);
}

/* The hero image */
.mdx-hero {
    /* Use "linear-gradient" to add a darken background effect to the image.
    This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/winter_landscape.jpg");

    /* Set a specific height */
    height: 100vh;
    width: 100vw;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mdx-hero h1{
    color: currentcolor;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

/* Place text in the middle of the image */
.mdx-hero__content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Buttons */
.mdx-hero__content .md-button{
    color:var(--md-primary-fg-color--light);
    margin-right: .5rem;
    margin-top: .5rem;
}

.mdx-hero .md-button:focus,.mdx-hero .md-button:hover{
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
    background-image: none;
}

.mdx-hero__content .md-button--primary{
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
    color: var(--md-primary-fg-color);
}

.mdx-hero__content .md-button--dark{
    background-color: rgba(0, 0, 0, 0.7);
}
